* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ededed;
  color: #222;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
}

.title-row {
  display: flex;
  gap: 1rem;
}

.switch-label {
  display: inline-block;
  width: 60px;
  height: 30px;
  background-color: #00a2ff;
  border-radius: 35px;
  position: relative;
}

.switch-label::before {
  position: absolute;
  content: "IN";
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #72cbff;
  color: white;
  font-size: 0.75rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  transform: translate(0, -50%);
  left: 2px;
  right: unset;
  pointer-events: none;
  transition: transform 0.3s ease-in-out;
}

.type-checkbox:checked + .switch-label::before {
  transform: translate(calc(100% + 6px), -50%);
  content: "MM";
}

.form-container {
  flex: 1;
  display: flex;
  padding: 3rem;
  text-align: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
}

.form-title {
  width: 100%;
  font-size: 2rem;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.field-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-field {
  /* flex: 1;    */
  border-radius: 3px;
  border: 1px solid #222;
  outline: none;
  max-width: 200px;
  padding: 0.3rem 0.3rem;
}

.field-container label {
  text-align: center;
  font-size: 1.2rem;
  min-width: 200px;
}

.submit-button {
  align-self: center;
  padding: 0.6rem 1rem;
  font-size: 0.9rem;
  font-weight: bold;
  background-color: #00a2ff;
  border: none;
  outline: none;
  border-radius: 20px;
  color: white;
  margin-top: 1rem;
  cursor: pointer;
}

.canvas-container {
  flex: 2;
  overflow: hidden;
}

.canvas {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 600px) {
  body {
    height: unset;
    min-height: 100vh;
  }
  .container {
    flex-direction: column;
  }
  .title-row {
    flex-direction: column;
  }
  .form-container {
    padding: 2rem 1rem;
    gap: 2rem;
  }
  .form {
    padding: 0 1rem;
  }
  .field-container {
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    gap: 0.5rem;
  }
  label {
    min-width: unset;
  }
  .input-field {
    width: 100%;
  }
}
